.topContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.topLeft {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topRight img {
    max-width: 80%;
    max-height: 80%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h2 {
    margin-bottom: 20px;
    color: white;
}

.login-form {
    width: 100%;
}

.login-form input {
    width: 50%;
    padding: 10px;
    margin: 2% 0 1.5% 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    color: white;

    &::placeholder {
        color: rgba(206, 232, 255, 0.5);
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 100;
    }

    &:focus {
        color: rgba(143, 200, 253, 1);
        outline: none;
        border-bottom: 1.2px solid rgba(27, 219, 244);
        font-size: 18px;
        transition: .8s all ease;

        &::placeholder {
            opacity: 0;
        }
    }
}

form select {
    width: 53%;
    padding: 10px;
    margin: 2% 0 1.5% 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    color: white;

    &:focus {
        color: rgba(143, 200, 253, 1);
        outline: none;
        border-bottom: 1.2px solid rgba(27, 219, 244);
        font-size: 18px;
        transition: .8s all ease;

        &::placeholder {
            opacity: 0;
        }
    }
}

.default {
    color: rgba(206, 232, 255, 0.5);
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 100;
}

form button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to right, #00c6ff, #eb0ef2);
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10%;
}

form button:hover {
    background: linear-gradient(to right, #09eb9c, #ff8c00);
    color: black;
}